<div class="col-xs-12">
  <h3> Job Information </h3>
  <ul>
    <li style="list-style-type: none;">Job number: <%= @job_machine.job.job_number %></li>
    <li style="list-style-type: none;">Customer name: <%= @job_machine.job.customer.name %></li>
</ul>
<div class="col-xs-3">
  <h3> Processed Material </h3>
  <%= simple_form_for [@job_machine, @box], html: { class: 'form-horizontal' }, validate: true do |f| %>
    <%= f.input :location_id, as: :select, collection: Location.all.order(:name) %>
    <%= f.input :material_id, as: :select, collection: Material.all.order(:name) %>
    <%= f.input :material_weight, :autofocus => true %>
    <%= f.button :submit, "Submit", id: 'create_location' %>
  <% end %>
</div>
<div class="col-xs-1">

</div>
<div class="col-xs-3">
  <div class="">
    <h3>Input Boxes</h3>
    <table class="table">
      <thead>
        <tr>
          <th> Box Number </th>
          <th> Material Type </th>
          <th> Box Weight </th>
          <th> Location </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'box', collection: @job_machine.input_boxes %>
      </tbody>
    </table>
    <% if @job_machine.sum_of_output_boxes > 0 %>
      <h4> Total Weight: <%= @job_machine.sum_of_input_boxes %></h4>
    <% else %>

    <% end %>
  </div>
</div>
<div class="col-xs-5">
  <div class="">
    <h3>Output Boxes</h3>
    <table class="table">
      <thead>
        <tr>
          <th> Box Number </th>
          <th> Material Type </th>
          <th> Box Weight </th>
          <th> Location </th>
          <th> Move On </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'box2', collection: @job_machine.output_boxes %>
      </tbody>
    </table>
    <% if @job_machine.sum_of_output_boxes > 0 %>
      <h4> Total Weight: <%= @job_machine.sum_of_output_boxes %></h4>
    <% else %>

    <% end %>
  </div>
</div>
