<div class="col-xs-12">
  <div class="">
    <h2><%= machine.name %></h2>
    <div class="col-xs-6">
      <div class="">
        <h3>Input Boxes</h3>
        <table class="table">
          <thead>
            <tr>
              <th> Box Number </th>
              <th> Material Type </th>
              <th> Box Weight </th>
              <th> Location </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'box', collection: machine.input_boxes %>
          </tbody>
        </table>
        <% if machine.sum_of_input_boxes > 0 %>
          <h4> Total Weight: <%= machine.sum_of_input_boxes %></h4>
        <% else %>

        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="">
        <h3>Output Boxes</h3>
        <table class="table">
          <thead>
            <tr>
              <th> Box Number </th>
              <th> Material Type </th>
              <th> Box Weight </th>
              <th> Location </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'box', collection: machine.output_boxes %>
          </tbody>
        </table>
        <% if machine.sum_of_output_boxes > 0 %>
          <h4> Total Weight: <%= machine.sum_of_output_boxes %></h4>
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</div>
