<div class="col-xs-12">
  <div class="">
    <h4><%= machine.name %></h4>
    <div class="col-xs-6">
      <div class="">
        <h5>Input Boxes</h5>
        <table class="table">
          <thead>
            <tr>
              <th> Box Number </th>
              <th> Material Type </th>
              <th> Box Weight </th>
              <th> Location </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'box', collection: @job.link_job_with_machine(machine).input_boxes %>
          </tbody>
        </table>
        <% if @job.link_job_with_machine(machine).sum_of_input_boxes > 0 %>
          <h4> Total Weight: <%= @job.link_job_with_machine(machine).sum_of_input_boxes %> lbs</h4>
        <% else %>

        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="">
        <h5>Output Boxes</h5>
        <table class="table">
          <thead>
            <tr>
              <th> Box Number </th>
              <th> Material Type </th>
              <th> Box Weight </th>
              <th> Location </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'box', collection: @job.link_job_with_machine(machine).output_boxes %>
          </tbody>
        </table>
        <% if @job.link_job_with_machine(machine).sum_of_output_boxes > 0 %>
          <h4> Total Weight: <%= @job.link_job_with_machine(machine).sum_of_output_boxes %> lbs</h4>
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</div>
