<div class="col-sm-12">
  <h2>Job Summary</h2>
</div>
<div class="col-md-8">
  <h3>Machines</h3>
  <%= render partial: "machine", collection: @machines %>
</div>
<div class="col-sm-4">
  <h3>Initial and Final Boxes</h3>
  <div class="box-heading">
    <h5>Final Boxes</h5>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th> Box Number </th>
        <th> Material Type </th>
        <th> Box Weight </th>
        <th> Location </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "box", collection: @final_boxes %>
    </tbody>
  </table>
  <% if @job.sum_of_final_boxes > 0 %>
    <h4> Total Weight: <%= @job.sum_of_final_boxes %> lbs</h4>
  <% else %>

  <% end %>
  <div class="box-heading">
    <h5>Initial Boxes</h5>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th> Box Number </th>
        <th> Material Type </th>
        <th> Box Weight </th>
        <th> Location </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "box", collection: @start_boxes %>
    </tbody>
  </table>
  <% if @job.sum_of_raw_boxes > 0 %>
    <h4> Total Weight: <%= @job.sum_of_raw_boxes %> lbs</h4>
  <% else %>

  <% end %>
</div>
