<div class="col-lg-4 col-md-4">
  <%= simple_form_for [@job, @box], html: { class: 'form-horizontal' }, validate: true do |f| %>
    <%= f.input :location_id, as: :select, collection: Location.all.order(:name) %>
    <%= f.input :material_id, as: :select, collection: Material.all.order(:name) %>
    <%= f.input :material_weight, :autofocus => true %>
    <%= f.button :submit, "Submit", id: 'create_location' %>
    <%= link_to "Home", root_path, class: "btn btn-default" %>
  <% end %>
  <% if @job.sum_of_boxes > 0 %>
    <h4> Total Weight: <%= @job.sum_of_boxes %></h4>
  <% else %>

  <% end %>
</div>
<div class="col-lg-2 col-md-2">

</div>
<div class="col-lg-6 col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th> Box Number </th>
        <th> Material Type </th>
        <th> Box Weight </th>
        <th> Location </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      <%= render @boxes %>
    </tbody>
  </table>
</div>
